.word-container{
  display: flex;
  font-size: 5rem;
  font-weight: 700;
  font-family: monospace;
  gap: 20px;
  cursor: default;
}

.letter-container {
  padding-bottom: 0.5rem;
  border-bottom: 5px solid black;
}

.unguessed {
  color: var(--bg-color);
}

.failed {
  color: rgb(254, 131, 131);
}

.succeed {
  color: rgb(126, 196, 126);
}