.word-container{
  display: flex;
  font-size: 5rem;
  font-weight: 700;
  font-family: monospace;
  gap: 20px;
}

.letter-container {
  padding-bottom: 0.5rem;
  border-bottom: 5px solid black;
}

.hide {
  color: white;
}